<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
</head>
<body>
    <h1>About Page</h1>
    <h3>founder is <span style="font-weight: bold;">{{name}}</span></h3>
    <hr />
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis quis, nobis voluptatibus placeat nesciunt voluptates animi necessitatibus accusantium quos laboriosam velit beatae sequi soluta odit blanditiis adipisci. Modi velit ratione perferendis, rem iure consectetur nihil obcaecati itaque, tempore omnis laborum provident eligendi. Dicta et sint ad, natus sunt veniam. Accusamus?</p>
</body>
</html>